body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#0f1116,#1c1f2b);
  color:white;
}

header{
  text-align:center;
  padding:30px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:#202431;
  padding:20px;
  border-radius:16px;
  box-shadow:0 0 15px rgba(0,0,0,.4);
  text-align:center;
  transition:.3s;
}

.card:hover{
  transform:translateY(-5px);
}

button{
  background:#00d1ff;
  border:none;
  padding:8px 14px;
  margin:5px;
  border-radius:8px;
  cursor:pointer;
}

input, textarea{
  width:90%;
  padding:6px;
  margin:5px;
  border-radius:6px;
}
.center{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:10px;
}

textarea{
  height:70px;
}
/* LOADER */
.loader{
  position:fixed;
  width:100%;
  height:100%;
  background:#0a0a0a;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  z-index:9999;
  color:white;
}

.spinner{
  width:50px;
  height:50px;
  border:4px solid #222;
  border-top:4px solid #00ff88;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  to{transform:rotate(360deg)}
}


/* PREMIUM CARD HOVER */
.card:hover{
  transform:translateY(-6px) scale(1.02);
  box-shadow:0 0 30px rgba(0,255,136,0.4);
}


/* BUTTON CLICK ANIMATION */
button{
  transition:0.2s;
}

button:active{
  transform:scale(0.95);
}


/* Animated numbers glow */
.stat-number{
  font-size:28px;
  font-weight:bold;
  color:#00ff88;
  text-shadow:0 0 12px #00ff88;
}


/* smooth fade */
.fade-in{
  animation:fadeIn 1s ease;
}

@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}
